main{
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}

label{
  font-weight: bold;
}

input{
  padding: $s-xs;
}

select{
  padding: $s-xs;
}

button{
  padding: $s-xs;
  font-size: $s-md;
  font-weight: bold;
}