main {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
}

input {
  padding: $s-xs;
}

select {
  padding: $s-xs;
}

button {
  padding: $s-xs;
  font-size: $s-md;
  font-weight: bold;
  border-radius: $s-xs;
}
