/* Font */
@import "https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap";

$font: "Rubik", sans-serif;

/* Colors */
$primary: #8c4a3b;
$secondary: #d99f7e;
$info: #04adbf;
$success: #5abf69;
$dark: #202124;
$lightness: 5%;

/* Spacing */
$s-xs: 8px;
$s-sm: 12px;
$s-md: 16px;
$s-lg: 20px;
$s-xlg: 24px;
